@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(255,253,253);
    background: radial-gradient(circle, rgba(255,253,253,1) 0%, rgba(196,197,199,1) 100%);
    color: black
}

.baseimg{
background-image: url(image\api-application-programming-interface-com-portátil-84181438.jpg);
}

.contenedorimg {
    height: 166px;
    max-width: 100%;
    margin: 1rem;


}

#htmlimg {
    width: 10rem;
    height: 10rem;
    transition: 0.5s;
    object-fit: cover;
    
}

#htmlimg:hover {
    transform: scale(1.2);
    box-shadow: 0.0rem 0.0rem 1.0rem 0.1rem #000000;
    background: linear-gradient(rgb(34, 10, 73) 0%, rgb(72, 43, 118) 50%, rgb(127, 89, 187) 100%);

}

.containerCursos {
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.containerMenu {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

header {
    text-align: center;
    color: aliceblue;
    
}


/* footer {
    text-shadow: 2px 2px 2px #000000;
    background: linear-gradient(rgb(34, 10, 73) 0%, rgb(72, 43, 118) 50%, rgb(127, 89, 187) 100%);
    bottom: 0;
    color: aliceblue;
    background-color: rgb(57,57,69);
} */

.menu h1 {
    color: #ffffff;
    font: normal 60px 'Cookie', cursive;
    margin: 0;
}


.menu h1 span {
    color: darkviolet;
}

.menuu h1 {
    color: #ffffff;
    font: normal 60px 'Cookie', cursive;
    margin: 0;
}


.menuu h1 span {
    color: darkviolet;
}

.logo {
    display: flex;
    justify-content: flex-start;
    border-radius: 50%;
    height: 50px;
    width: 60px;
    object-fit: cover;
    background-color: aliceblue;
    border: solid darkviolet 1px;
    margin: 5px;
   
}

.quienesSomos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 40%;
    display: flex;
    flex-wrap: wrap;
}

.titulo{
  text-shadow: 2px 2px 2px #211500;
  color: aliceblue;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 4s;
}

.animate__animated.animate__bounce {
    --animate-duration: 1.5s;
}

li{
    text-align: left;
}

#contenidos{
    display: grid;
    justify-content: center;
}

input{
    width: 14rem;
}

#botonEnviar{
    width: 4rem;
}


.containergral{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.containerform{
    margin: 10px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2a30;
    /* background-color: rgb(57,57,69); */
    background-repeat: no-repeat;
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    /* background: linear-gradient(rgb(34, 10, 73) 0%, rgb(72, 43, 118) 50%, rgb(127, 89, 187) 100%); */
    
}

.menuu{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2a30;
    /* background-color: rgb(57,57,69); */
    background-repeat: no-repeat;
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    /* background: linear-gradient(rgb(34, 10, 73) 0%, rgb(72, 43, 118) 50%, rgb(127, 89, 187) 100%); */
    
}

.logoo{
   display: flex;
   flex-wrap: wrap;
}

#info,h2,h3{
    color: black;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

iframe {
    box-shadow: 0px 0px 6px darkviolet;
    border: 3px solid black;
    margin: 20px;
}
.somos{
    text-align: center; 
}

button {
    box-shadow: 0px 0px 6px darkviolet;
    border: 3px solid black;
    margin: 20px;
}

.container{
    width: 90%;
    min-height: 50vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.slider{
    padding: 40px 0;

}

.slider_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap:1em;
}

.slider_body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider_body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider_texts{
    max-width: 600px;

}

.subtitle{
    font-size: 2.5rem;
    margin-bottom: 20px;

}

.slider_review{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}

.slider_img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 6px black;
}

.slider_arrow{
    cursor:pointer;
    width: 90%;
}

nav{
    cursor: pointer;
}



#cursos{
    background: linear-gradient(rgb(34, 10, 73) 0%, rgb(72, 43, 118) 50%, rgb(127, 89, 187) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width: 30%;
    height: 40px;
    box-shadow: 0px 0px 8px black;
    
}

#nuestros, #ancla{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
}

#cursosPosition{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursosH1{
    text-align: center;
    padding: 10px;
}


#anclacursos{
    margin: 5px;
}

.margina{
    text-decoration: none;
    color: aliceblue;
    margin: 20px;

}
.marginahov:hover{
    background: linear-gradient(rgb(34, 10, 73) 0%, rgb(72, 43, 118) 50%, rgb(127, 89, 187) 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 6px grey;
    

}

.container--flex{
    color:whitesmoke;
    background-color: rgb(57,57,69);
    background-position: center;
    background-size: cover;
}

@media (max-width:760px){
    
    .slider_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

    .slider_picture{
        grid-row: 1/2;

    }



    .slider_img{
        width: 210px;
        height: 210px;

    }


}

@media (max-width:374px){
    
    .slider_body{
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: max-content 1fr;
        gap: 1em;
    
    }

    .slider_picture{
        grid-row: 1/2;

    }

    .slider_arrow{
        width: 100%;
    }

    .slider_img{
        width: 180px;
        height: 180px;

    }

    .subtitle{
        font-size: 2rem ;
        margin-bottom: 15px;
    }

    .slider_review{

        font-size: 1rem;

    line-height: 1.6;
    }

}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #2d2a30;
    color:aliceblue;
    border: 2px solid black;
    box-shadow: 0px 0px 6px darkviolet;
}

label {
    display: block;
    margin-bottom: 5px;
}



input{
    color: black;
    border: grey double 3px;
    border-radius: 5px;
    cursor: pointer;
}



main{
    margin-top: 50px;
}

.fundador{
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 6px black;
}

.containerFundadores{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.h1somos {
    text-align: center;
    background: linear-gradient(rgb(34, 10, 73) 0%, rgb(72, 43, 118) 50%, rgb(127, 89, 187) 100%);
    color: aliceblue;
    text-shadow: 1px 1px 6px white;
}

.title{
    text-align: center;
}

/*----------------ESTILOS DEL FOOTER--------------------------------------*/

/* The footer is fixed to the bottom of the page */

footer {
    /* position: fixed; */
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    /*header {
        padding-top: 40px;
    }*/
}

.footer-general {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 60px 50px 60px 50px;
    margin-top: 170px;
}

.footer-general .footer-left, .footer-general .footer-center, .footer-general .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-general .footer-left {
    width: 30%;
}

.footer-general h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-general h3 span {
    color: darkviolet;
}

/* Footer links */

.footer-general .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-general .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-general .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-general .footer-center {
    width: 35%;
}

.footer-general .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-general .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-general .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-general .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-general .footer-center p a {
    color: #ffffff;
    /* color: #e0ac1c; */
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-general .footer-right {
    width: 30%;
}

.footer-general .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-general .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-general .footer-icons {
    margin-top: 25px;
}

.footer-general .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-general .footer-icons a:hover {
    background-color: darkviolet;
}

.footer-links a:hover {
    color: darkviolet;
}

@media (max-width: 880px) {
    .footer-general .footer-left, .footer-general .footer-center, .footer-general .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-general .footer-center i {
        margin-left: 0;
    }
}       
        
button{
    margin: 10px;
    cursor: pointer;
    background-color: #33383b;
    color: aliceblue;
}



.preguntas{
    margin-left: 10px;
}

.base{
    text-align: center;
}

.my-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

