* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}


#htmlimg {
    width: 150px;
    height: 150px;
    transition: 0.5s;
    object-fit: cover;
    background-color: black;
}

#htmlimg:hover {
    transform: scale(1.2);
}

.containerCursos {
    background-color: black;
    border: solid black;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap:wrap ;
    align-content: center;
    justify-content: center;
}

.contenedorimg {
    width: 16rem;
    height: 11rem;
    overflow: hidden;
    display: grid;
    align-content: center;
    justify-content: center;
}

header {
    text-align: center;
}

button {
    background-color: aliceblue;
    color: aliceblue;
}

.logoAcademia {
    background-color: aliceblue;
}

.logo {
    border-radius: 50%;
    border: solid black;
}

.quienesSomos {
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    border: solid black;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}